.container {
  width: 100%;
}
pre {
  padding:0 !important;
  overflow-x: hidden;
}
code {
  margin: 10px;
  width: 100%;
  padding: 20px;
  font-size: 0.8em;
  background-color: black;
}
h1.title{
  font-size: 2.0em;
}
